.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2332;
}

.nav ul{
    display: flex;
    gap: 15px;
}

.nav ul li{
    list-style: none;
}

.nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(15, 97, 165);
    font-weight: 600;
    transition: color 0.3s ease;
}
.nav ul li a:hover{
    color: rgb(96, 165, 223);
}
